<div class="bg-[#F8F8F7] shadow-xl rounded-lg overflow-hidden w-80 m-2">
  <div class="bg-cover h-48 w-full image-ghost" [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'">
  </div>
  <div class="flex flex-col pt-2 p-5">
    <div class="bg-cover bg-center w-20 h-20 -mt-16 rounded-full border-4 border-[#F8F8F7] image-ghost" [style.backgroundSize]="'cover'"
         [style.backgroundRepeat]="'no-repeat'">
    </div>
    <div class="mt-3">
      <div class="text-ghost"></div>
      <div class="flex flex-col">
        <p class="text-ghost"></p>
        <p class="text-ghost"></p>
      </div>
    </div>
  </div>
</div>
