$bg-ghost-gradient: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
), #d5d5d5;


.text-ghost {
  height: 15px;
  border-radius: 3px;
  margin: 10px 0;
  width: 60%;
}

.image-ghost, .artist-name, .fans, .album, .tracks-title, .tracks {
  background: $bg-ghost-gradient;
  background-repeat: repeat-y;
  background-size: 100px 500px;
  background-position: 0 0;
  animation: shine 1.3s infinite;
}


.artist-name, .fans, .album, .tracks-title, .tracks {
  height: 15px;
  border-radius: 3px;
  margin: 10px 0;
}

.artist-name {
  width: 200px;
}

.fans {
  width: 100px
}

.album {
  width: 70px;
}

.tracks-title {
  width: 150px;
}

.tracks {
  width: 100px;
}


