<section class="content-center flex flex-col justify-center items-center p-2 m-auto">

  <div class="bg-cover bg-center w-60 h-60 rounded-full border-4 border-[#F8F8F7] image-ghost">
  </div>

  <p class="mt-12 font-extrabold text-4xl artist-name"></p>

  <p class="font-bold text-2xl text-gray-600 mt-2 fans"></p>
  <p class="text-xl font-bold text-gray-400 mt-2 album"></p>

  <p class="mt-12 font-extrabold text-2xl tracks-title"></p>

  <ng-container>
      <p class="tracks" *ngFor="let i of [1,2,3,4,5]"></p>
  </ng-container>

</section>
