<ng-container
  *ngIf="
  {
  artistDetails: artistDetails$ | async,
  artistDetailsError: artistDetailsError$ | async,
  artistTopTracks: artistTopTracks$ | async
  } as ad">
  <ng-container *ngIf="ad.artistDetails as artistDetails  else loading">
    <ng-container *ngIf="artistDetails else userNotFound">

      <section class="content-center flex flex-col justify-center items-center p-2 m-auto">

        <div [style.backgroundRepeat]="'no-repeat'"
             [style.backgroundSize]="'cover'" [style.background]="'url('+artistDetails.picture+')'"
             class="bg-cover bg-center w-60 h-60 rounded-full border-4 border-[#F8F8F7]">
        </div>

        <p class="mt-12 font-extrabold text-4xl">{{artistDetails.name}}</p>

        <p class="font-bold text-2xl text-gray-600 mt-2">{{artistDetails.nb_fan | number: "1.0-0"}} Fans</p>
        <p class="text-xl font-bold text-gray-400 mt-2">{{artistDetails.nb_album | number: "1.0-0"}} Albums</p>

        <p class="mt-12 font-extrabold text-2xl">Top Tracks:</p>

        <ng-container *ngIf="ad.artistTopTracks as topTracks">
          <ng-container *ngFor="let track of topTracks | slice: 0: 5">
            <p>{{track.title}}</p>
          </ng-container>
        </ng-container>


      </section>
    </ng-container>

    <ng-template #userNotFound>
      <app-no-results></app-no-results>
    </ng-template>
  </ng-container>

  <div *ngIf="ad.artistDetailsError as error">
    <app-error></app-error>
  </div>


  <ng-template #loading>
    <div *ngIf="!ad.artistDetailsError">
      <app-ghost-artist></app-ghost-artist>
    </div>
  </ng-template>

</ng-container>



