<section class="w-full">
  <!-- Search -->
  <div class="flex flex-col md:flex-row pb-4 items-center w-9/12">
    <div class="flex my-3 px-4 w-full">
      <form [formGroup]="searchForm">
        <div class="search-bar w-full">
          <input
            class="w-full rounded py-1.5 px-4 focus:bg-indigo-100 focus:transition ease-in duration-150 border-2"
            formControlName="searchText" placeholder="Search for an artist" type="text">
          <svg class="search-icon" fill="none" height="24" viewBox="0 0 24 24" width="24">
            <path
              d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="1.5"></path>
          </svg>

        </div>
      </form>

    </div>
  </div>
</section>

<ng-container *ngIf="searchForm.controls.searchText.value !== '' else startSearch;">
  <ng-container
    *ngIf="{
  searchResults: searchResults$ | async,
  searchError: searchResultError$ | async
  } as sr">

    <ng-container *ngIf="sr.searchResults as results else loading">
      <ng-container *ngIf="results.length > 0 else noData">
        <div class="flex flex-row flex-wrap justify-center content-start">
          <ng-container *ngFor="let result of results">
            <app-artist-details-card [artistData]="result"></app-artist-details-card>
          </ng-container>
        </div>
      </ng-container>

      <ng-template #noData>
        <app-no-results></app-no-results>
      </ng-template>

    </ng-container>

    <div *ngIf="sr.searchError as error">
      <app-error></app-error>
    </div>

    <ng-template #loading>
      <div *ngIf="!sr.searchError" class="flex flex-row flex-wrap justify-center content-start">
        <ng-container *ngFor="let i of [1, 2, 3, 4]">
          <app-ghost-artist-details-card></app-ghost-artist-details-card>
        </ng-container>
      </div>
    </ng-template>
  </ng-container>

</ng-container>

<ng-template #startSearch>
  <app-start-search></app-start-search>
</ng-template>





